/* Form navigation styles */
#formNav {
  display: flex;
  width: 630px;
  height: 39px;
  justify-content: center;
  gap: 16px;
  grid-row: 1;
  grid-column: 1 / 3;
}

.navItem {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
  /* background: none;
    border: 0; */
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active {
  font-weight: 600;
  transform: scale(1.25);
}

/* Styles for form and column of entries in form category */

#formContent {
  grid-row: 2;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 177px 1fr;
}

.entriesCol {
  grid-column: 1;
}
/* Div containing the actual form */
.form {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}

.form > h2 {
  align-self: start;
  line-height: 1rem;
  margin: 1rem 0.5rem;
}

/* Floating labels */
/* Set position: relative so that label can be position: absolute */
.inputField {
  /* Strictly necessary styles */
  position: relative;
  display: flex;
  flex-direction: column;
  /* Styling like Stripe's inputs */
  
}

/* Make the placeholder transparent by default */
input::placeholder {
  transition: inherit;
  opacity: 0;
}

.inputField label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: left bottom;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 18px;
  line-height: .7;
  left: 16px;
  /* bottom: 25px; */
}

.inputField:focus-within label {
  transform: translate(0, 0) scale(0.7);
  color: #0a53e4;
}

.inputField .filled {
  transform: translate(0, 0) scale(0.7);
}



/* Style inputs like Stripe's inputs */


input {
  height: 40px;
  font-size: 18px;
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 4px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color 0.24s, box-shadow 0.24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

input:focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}
