@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap");
body {
  background-color: #F5F5F5;
}
#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#formControls {
  width: 690px;
  height: 496px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: white;
  margin: auto;
  border-radius: 19px;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 177px 1fr;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: "Roboto";
}

#preview {
  width: 539px;
  height: 763px;
  background-color: #8E8787;
  /* A4 page aspect ratio */
  aspect-ratio: 1.414 / 1;
  overflow: scroll;
}



/* .formCategory {

  background-color: #f8f9fa;
  width: 45ch;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.formCategory > h2 {
  align-self: start;
  line-height: 1rem;
  margin: 1rem 0.5rem;
}

label {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0.25rem 0.5rem;
}

input {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #f1f3f5;
  line-height: 1.1rem;
}


/* button {
  display: flex;
  width: 40ch;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
} */

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.formCtrlBtn {
  display: flex;
  gap: 1ch;
  align-items: center;
  width: 10ch;
  padding: 0.5ch;
  line-height: 1ch;
}

.tag {
  width: fit-content;
  display: inline-block;
  margin: .5ch;
  border: 1px solid black;
}

/* Tag content */
.skillInterest {
display: flex;
line-height: .75rem;
align-items: center;
padding-left: .5ch;
}

/* Button for deleting a tag */
.deleteSkillInterest {
  display: inline;
  width: min-content;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.deleteIcon {
  height: 1ch;
}